/**
 * Reset
 * Reset an element's basic styling such as display, position, margin and padding
 * Mixin usages are understandable from their respective names, 
 * so no need for me to explain
 */

@mixin resetPadding($important: false)
{
  padding: 0 if($important, !important, null);
}

@mixin resetMargin($important: false)
{
  margin: 0 if($important, !important, null);
}

@mixin resetPosition($important: false)
{
  position: relative;
  top: auto if($important, !important, null);
  right: auto if($important, !important, null);
  bottom: auto if($important, !important, null);
  left: auto if($important, !important, null);
}

@mixin resetDisplay($important: false)
{
  display: block if($important, !important, null);
}

@mixin resetMarginPadding($important: false)
{
  @include resetMargin($important);
  @include resetPadding($important);
}

/*
* Reset Element 
* Most of the time you will probably use this before adding any other css rules  
*/

@mixin resetElement($important: false)
{
  @include resetDisplay($important);
  @include resetPosition($important);
  @include resetMarginPadding($important);
}